### EDA

In [1]:
import chardet
import pandas as pd
from sqlalchemy import create_engine, text
#import psycopg2

In [2]:
#chardet.detect(open("./Summer-Olympic-medals-1976-to-2008.csv", 'rb').read())['encoding']
chardet.detect(open("./Summer-Olympic-medals-1976-to-2008.csv", 'rb').read())

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [3]:
df = pd.read_csv("./Summer-Olympic-medals-1976-to-2008.csv", encoding="ISO-8859-1")
df.shape

(15433, 11)

In [4]:
#pd.read_csv("./Summer-Olympic-medals-1976-to-2008.csv", encoding="UTF-8")

In [5]:
df

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [6]:
df.dropna(how = "all", inplace=True)
df

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [7]:
df.count()

City            15316
Year            15316
Sport           15316
Discipline      15316
Event           15316
Athlete         15316
Gender          15316
Country_Code    15316
Country         15316
Event_gender    15316
Medal           15316
dtype: int64

In [8]:
df.dtypes

City             object
Year            float64
Sport            object
Discipline       object
Event            object
Athlete          object
Gender           object
Country_Code     object
Country          object
Event_gender     object
Medal            object
dtype: object

In [9]:
#df.astype({"Year": 'int64'}).dtypes
df["Year"] = df["Year"].astype("int64")
df.dtypes

City            object
Year             int64
Sport           object
Discipline      object
Event           object
Athlete         object
Gender          object
Country_Code    object
Country         object
Event_gender    object
Medal           object
dtype: object

In [10]:
df.nunique()

City                9
Year                9
Sport              28
Discipline         41
Event             293
Athlete         11337
Gender              2
Country_Code      128
Country           127
Event_gender        3
Medal               3
dtype: int64

In [11]:
df["Country_Code"].unique()

array(['GDR', 'URS', 'USA', 'ITA', 'SWE', 'AUS', 'CAN', 'FRG', 'NED',
       'GBR', 'HUN', 'JPN', 'CUB', 'POL', 'BUL', 'NZL', 'BEL', 'MEX',
       'JAM', 'FIN', 'ROU', 'POR', 'FRA', 'BRA', 'TCH', 'TRI', 'YUG',
       'VEN', 'PUR', 'PRK', 'BER', 'THA', 'ESP', 'DEN', 'SUI', 'PAK',
       'KOR', 'NOR', 'AUT', 'IRI', 'MGL', 'ETH', 'TAN', 'GUY', 'UGA',
       'IRL', 'IND', 'ZIM', 'GRE', 'LIB', 'CHN', 'NGR', 'KEN', 'MAR',
       'CIV', 'ALG', 'TUR', 'CMR', 'ZAM', 'DOM', 'ISL', 'EGY', 'COL',
       'PER', 'TPE', 'SYR', 'CRC', 'SUR', 'INA', 'DJI', 'SEN', 'PHI',
       'AHO', 'ISV', 'CHI', 'ARG', 'EUN', 'GER', 'BAH', 'RSA', 'NAM',
       'QAT', 'LTU', 'MAS', 'CRO', 'LAT', 'EST', 'GHA', 'ISR', 'SLO',
       'IOP', 'RUS', 'UKR', 'BLR', 'BDI', 'ECU', 'MOZ', 'CZE', 'TUN',
       'KAZ', 'TGA', 'UZB', 'SVK', 'MDA', 'GEO', 'HKG', 'ARM', 'AZE',
       'KSA', 'BAR', 'SRI', 'URU', 'KGZ', 'KUW', 'VIE', 'MKD', 'SCG',
       'ERI', 'PAR', 'UAE', 'SRB', 'PAN', 'SUD', 'MRI', 'TOG', 'TJK',
       'SIN', 'AFG'], dtype=object)

In [12]:
df["Country"].unique()

array(['East Germany', 'Soviet Union', 'United States', 'Italy', 'Sweden',
       'Australia', 'Canada', 'West Germany', 'Netherlands',
       'United Kingdom', 'Hungary', 'Japan', 'Cuba', 'Poland', 'Bulgaria',
       'New Zealand', 'Belgium', 'Mexico', 'Jamaica', 'Finland',
       'Romania', 'Portugal', 'France', 'Brazil', 'Czechoslovakia',
       'Trinidad and Tobago', 'Yugoslavia', 'Venezuela', 'Puerto Rico*',
       'Korea, North', 'Bermuda*', 'Thailand', 'Spain', 'Denmark',
       'Switzerland', 'Pakistan', 'Korea, South', 'Norway', 'Austria',
       'Iran', 'Mongolia', 'Ethiopia', 'Tanzania', 'Guyana', 'Uganda',
       'Ireland', 'India', 'Zimbabwe', 'Greece', 'Lebanon', 'China',
       'Nigeria', 'Kenya', 'Morocco', "Cote d'Ivoire", 'Algeria',
       'Turkey', 'Cameroon', 'Zambia', 'Dominican Republic', 'Iceland',
       'Egypt', 'Colombia', 'Peru', 'Taiwan', 'Syria', 'Costa Rica',
       'Suriname', 'Indonesia', 'Djibouti', 'Senegal', 'Philippines',
       'Netherlands Antilles*', 'Virgin Islands*', 'Chile', 'Argentina',
       'Unified team', 'Germany', 'Bahamas', 'South Africa', 'Namibia',
       'Qatar', 'Lithuania', 'Malaysia', 'Croatia', 'Latvia', 'Estonia',
       'Ghana', 'Israel', 'Slovenia',
       'Independent Olympic Participants (1992)', 'Russia', 'Ukraine',
       'Belarus', 'Burundi', 'Ecuador', 'Mozambique', 'Czech Republic',
       'Tunisia', 'Kazakhstan', 'Tonga', 'Uzbekistan', 'Slovakia',
       'Moldova', 'Georgia', 'Hong Kong*', 'Armenia', 'Azerbaijan',
       'Saudi Arabia', 'Barbados', 'Sri Lanka', 'Uruguay', 'Kyrgyzstan',
       'Kuwait', 'Vietnam', 'Macedonia', 'Serbia', 'Eritrea', 'Paraguay',
       'United Arab Emirates', 'Panama', 'Sudan', 'Mauritius', 'Togo',
       'Tajikistan', 'Singapore', 'Afghanistan'], dtype=object)

In [13]:
#df.groupby(["Country_Code", "Medal"]).count()

In [14]:
#df.groupby(by="Country_Code")["Medal"].count()

In [15]:
df.groupby(by="Country_Code")["Medal"].value_counts()

Country_Code  Medal
AFG           Bronze     1
AHO           Silver     1
ALG           Bronze     8
              Gold       4
              Silver     2
                        ..
ZAM           Silver     1
              Bronze     1
ZIM           Gold      18
              Silver     4
              Bronze     1
Name: count, Length: 302, dtype: int64

In [16]:
#df["Year"].dtype = "date"

In [17]:
df.to_csv("./medals.csv", encoding="ISO-8859-1", index=False)

### CRUD

In [20]:
conn_str = "postgresql+psycopg2://postgres:1234@localhost:5432/project_4"
engine = create_engine(conn_str)

In [27]:
query1 = f"""
SELECT *
FROM olympics
LIMIT 10;
;
"""

with engine.connect() as conn:
    result_query1 = pd.read_sql(text(query1), conn)

result_query1

,city,year,sport,discipline,event,athlete,gender,country_code,country,event_gender,medal
0,Montreal,1976,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
5,Montreal,1976,Aquatics,Diving,10m platform,"LOUGANIS, Gregory",Men,USA,United States,M,Silver
6,Montreal,1976,Aquatics,Diving,10m platform,"VAYTSEKHOVSKAYA, Elena",Women,URS,Soviet Union,W,Gold
7,Montreal,1976,Aquatics,Diving,3m springboard,"POTTER-MCINGVALE, Cynthia",Women,USA,United States,W,Bronze
8,Montreal,1976,Aquatics,Diving,10m platform,"DIBIASI, Klaus",Men,ITA,Italy,M,Gold
9,Montreal,1976,Aquatics,Diving,10m platform,"ALEINIK, Vladimir",Men,URS,Soviet Union,M,Bronze

In [26]:
query2 = f"""
SELECT COUNT(*)
FROM olympics
"""

with engine.connect() as conn:
    result_query2 = pd.read_sql(text(query2), conn)

result_query2

   count
0  15316

In [38]:
query3 = f"""
SELECT country, count(DISTINCT country_code)
FROM olympics
GROUP BY country
HAVING count(DISTINCT country_code) > 1
;
"""

with engine.connect() as conn:
    result_query3 = pd.read_sql(text(query3), conn)

result_query3

  country  count
0  Serbia      2

In [40]:
query4 = f"""
SELECT country, country_code
FROM olympics
WHERE country = 'Serbia'
;
"""

with engine.connect() as conn:
    result_query4 = pd.read_sql(text(query4), conn)

result_query4

   country country_code
0   Serbia          SCG
1   Serbia          SCG
2   Serbia          SCG
3   Serbia          SCG
4   Serbia          SCG
5   Serbia          SCG
6   Serbia          SCG
7   Serbia          SCG
8   Serbia          SCG
9   Serbia          SCG
10  Serbia          SCG
11  Serbia          SCG
12  Serbia          SCG
13  Serbia          SCG
14  Serbia          SRB
15  Serbia          SRB
16  Serbia          SRB
17  Serbia          SRB
18  Serbia          SRB
19  Serbia          SRB
20  Serbia          SRB
21  Serbia          SRB
22  Serbia          SRB
23  Serbia          SRB
24  Serbia          SRB
25  Serbia          SRB
26  Serbia          SRB
27  Serbia          SRB
28  Serbia          SRB

In [46]:
query5 = f"""
UPDATE olympics 
SET country_code = 'SRB'
WHERE country = 'Serbia'
;
"""

with engine.connect() as conn:
    #result_query5 = pd.read_sql(text(query5), conn)
    conn.execute(text(query5))
    conn.commit()

#result_query5

In [47]:
query6 = f"""
SELECT country, country_code
FROM olympics
WHERE country = 'Serbia'
;
"""

with engine.connect() as conn:
    result_query6 = pd.read_sql(text(query6), conn)

result_query6

   country country_code
0   Serbia          SRB
1   Serbia          SRB
2   Serbia          SRB
3   Serbia          SRB
4   Serbia          SRB
5   Serbia          SRB
6   Serbia          SRB
7   Serbia          SRB
8   Serbia          SRB
9   Serbia          SRB
10  Serbia          SRB
11  Serbia          SRB
12  Serbia          SRB
13  Serbia          SRB
14  Serbia          SRB
15  Serbia          SRB
16  Serbia          SRB
17  Serbia          SRB
18  Serbia          SRB
19  Serbia          SRB
20  Serbia          SRB
21  Serbia          SRB
22  Serbia          SRB
23  Serbia          SRB
24  Serbia          SRB
25  Serbia          SRB
26  Serbia          SRB
27  Serbia          SRB
28  Serbia          SRB

In [53]:
query7 = f"""
SELECT *
FROM olympics
;
"""

with engine.connect() as conn:
    result_query7 = pd.read_sql(text(query7), conn)

result_query7

,city,year,sport,discipline,event,athlete,gender,country_code,country,event_gender,medal
0,Montreal,1976,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15311,Beijing,2008,Aquatics,Water polo,water polo,"CIRIC, Aleksandar",Men,SRB,Serbia,M,Bronze
15312,Beijing,2008,Aquatics,Water polo,water polo,"VUJASINOVIC, Vladimir",Men,SRB,Serbia,M,Bronze
15313,Beijing,2008,Aquatics,Water polo,water polo,"PEKOVIC, Branko",Men,SRB,Serbia,M,Bronze
15314,Beijing,2008,Aquatics,Water polo,water polo,"UDOVICIC, Vanja",Men,SRB,Serbia,M,Bronze
15315,Beijing,2008,Tennis,Tennis,singles,"DJOKOVIC, Novak",Men,SRB,Serbia,M,Bronze

### ML Model

In [48]:
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

### Split the Data into Training and Testing Sets

In [54]:
# Separate the data into labels and features
# Separate the y variable, the labels
y = result_query7[["country", "medal"]]

# Separate the X variable, the features
X = result_query7[["city", "year"]]

In [55]:
print(y)
print(X)

             country   medal
0       East Germany  Silver
1       Soviet Union  Bronze
2      United States    Gold
3              Italy  Silver
4      United States  Bronze
...              ...     ...
15311         Serbia  Bronze
15312         Serbia  Bronze
15313         Serbia  Bronze
15314         Serbia  Bronze
15315         Serbia  Bronze

[15316 rows x 2 columns]
           city  year
0      Montreal  1976
1      Montreal  1976
2      Montreal  1976
3      Montreal  1976
4      Montreal  1976
...         ...   ...
15311   Beijing  2008
15312   Beijing  2008
15313   Beijing  2008
15314   Beijing  2008
15315   Beijing  2008

[15316 rows x 2 columns]

In [57]:
#Encode categorical to numerical values 
y_encoded = pd.get_dummies(y).astype("int")
y_encoded

,country_Afghanistan,country_Algeria,country_Argentina,country_Armenia,country_Australia,country_Austria,country_Azerbaijan,country_Bahamas,country_Barbados,country_Belarus,...,country_Venezuela,country_Vietnam,country_Virgin Islands*,country_West Germany,country_Yugoslavia,country_Zambia,country_Zimbabwe,medal_Bronze,medal_Gold,medal_Silver
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15311,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15313,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15314,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
15315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
y_encoded = pd.get_dummies(y).astype("int")
y_encoded

In [65]:
y.assign(uno = 1).pivot_table(index = "country", columns="medal", aggfunc={"uno" : "sum"}).reset_index()

               country    uno
medal                  Bronze   Gold Silver
0          Afghanistan    1.0    NaN    NaN
1              Algeria    8.0    4.0    2.0
2            Argentina   70.0   46.0   37.0
3              Armenia    7.0    1.0    1.0
4            Australia  312.0  216.0  270.0
..                 ...    ...    ...    ...
122    Virgin Islands*    NaN    NaN    1.0
123       West Germany  126.0   84.0  135.0
124         Yugoslavia  102.0   90.0   86.0
125             Zambia    1.0    NaN    1.0
126           Zimbabwe    1.0   18.0    4.0

[127 rows x 4 columns]