In [1]:
import chardet
import pandas as pd

In [2]:
#chardet.detect(open("./Summer-Olympic-medals-1976-to-2008.csv", 'rb').read())['encoding']
chardet.detect(open("./Summer-Olympic-medals-1976-to-2008.csv", 'rb').read())

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [3]:
df = pd.read_csv("./Summer-Olympic-medals-1976-to-2008.csv", encoding="ISO-8859-1")
df.shape

(15433, 11)

In [15]:
pd.read_csv("./Summer-Olympic-medals-1976-to-2008.csv", encoding="UTF-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd6 in position 136: invalid continuation byte

In [4]:
df

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [16]:
df.dropna(how = "all", inplace=True)
df

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [17]:
df.count()

City            15316
Year            15316
Sport           15316
Discipline      15316
Event           15316
Athlete         15316
Gender          15316
Country_Code    15316
Country         15316
Event_gender    15316
Medal           15316
dtype: int64

In [18]:
df.dtypes

City             object
Year            float64
Sport            object
Discipline       object
Event            object
Athlete          object
Gender           object
Country_Code     object
Country          object
Event_gender     object
Medal            object
dtype: object

In [25]:
df.nunique()

City                9
Year                9
Sport              28
Discipline         41
Event             293
Athlete         11337
Gender              2
Country_Code      128
Country           127
Event_gender        3
Medal               3
dtype: int64

In [20]:
df["Country_Code"].unique()

array(['GDR', 'URS', 'USA', 'ITA', 'SWE', 'AUS', 'CAN', 'FRG', 'NED',
       'GBR', 'HUN', 'JPN', 'CUB', 'POL', 'BUL', 'NZL', 'BEL', 'MEX',
       'JAM', 'FIN', 'ROU', 'POR', 'FRA', 'BRA', 'TCH', 'TRI', 'YUG',
       'VEN', 'PUR', 'PRK', 'BER', 'THA', 'ESP', 'DEN', 'SUI', 'PAK',
       'KOR', 'NOR', 'AUT', 'IRI', 'MGL', 'ETH', 'TAN', 'GUY', 'UGA',
       'IRL', 'IND', 'ZIM', 'GRE', 'LIB', 'CHN', 'NGR', 'KEN', 'MAR',
       'CIV', 'ALG', 'TUR', 'CMR', 'ZAM', 'DOM', 'ISL', 'EGY', 'COL',
       'PER', 'TPE', 'SYR', 'CRC', 'SUR', 'INA', 'DJI', 'SEN', 'PHI',
       'AHO', 'ISV', 'CHI', 'ARG', 'EUN', 'GER', 'BAH', 'RSA', 'NAM',
       'QAT', 'LTU', 'MAS', 'CRO', 'LAT', 'EST', 'GHA', 'ISR', 'SLO',
       'IOP', 'RUS', 'UKR', 'BLR', 'BDI', 'ECU', 'MOZ', 'CZE', 'TUN',
       'KAZ', 'TGA', 'UZB', 'SVK', 'MDA', 'GEO', 'HKG', 'ARM', 'AZE',
       'KSA', 'BAR', 'SRI', 'URU', 'KGZ', 'KUW', 'VIE', 'MKD', 'SCG',
       'ERI', 'PAR', 'UAE', 'SRB', 'PAN', 'SUD', 'MRI', 'TOG', 'TJK',
       'SIN', 'AFG'], dtype=object)

In [21]:
df["Country"].unique()

array(['East Germany', 'Soviet Union', 'United States', 'Italy', 'Sweden',
       'Australia', 'Canada', 'West Germany', 'Netherlands',
       'United Kingdom', 'Hungary', 'Japan', 'Cuba', 'Poland', 'Bulgaria',
       'New Zealand', 'Belgium', 'Mexico', 'Jamaica', 'Finland',
       'Romania', 'Portugal', 'France', 'Brazil', 'Czechoslovakia',
       'Trinidad and Tobago', 'Yugoslavia', 'Venezuela', 'Puerto Rico*',
       'Korea, North', 'Bermuda*', 'Thailand', 'Spain', 'Denmark',
       'Switzerland', 'Pakistan', 'Korea, South', 'Norway', 'Austria',
       'Iran', 'Mongolia', 'Ethiopia', 'Tanzania', 'Guyana', 'Uganda',
       'Ireland', 'India', 'Zimbabwe', 'Greece', 'Lebanon', 'China',
       'Nigeria', 'Kenya', 'Morocco', "Cote d'Ivoire", 'Algeria',
       'Turkey', 'Cameroon', 'Zambia', 'Dominican Republic', 'Iceland',
       'Egypt', 'Colombia', 'Peru', 'Taiwan', 'Syria', 'Costa Rica',
       'Suriname', 'Indonesia', 'Djibouti', 'Senegal', 'Philippines',
       'Netherlands Antilles*', 'Virgin Islands*', 'Chile', 'Argentina',
       'Unified team', 'Germany', 'Bahamas', 'South Africa', 'Namibia',
       'Qatar', 'Lithuania', 'Malaysia', 'Croatia', 'Latvia', 'Estonia',
       'Ghana', 'Israel', 'Slovenia',
       'Independent Olympic Participants (1992)', 'Russia', 'Ukraine',
       'Belarus', 'Burundi', 'Ecuador', 'Mozambique', 'Czech Republic',
       'Tunisia', 'Kazakhstan', 'Tonga', 'Uzbekistan', 'Slovakia',
       'Moldova', 'Georgia', 'Hong Kong*', 'Armenia', 'Azerbaijan',
       'Saudi Arabia', 'Barbados', 'Sri Lanka', 'Uruguay', 'Kyrgyzstan',
       'Kuwait', 'Vietnam', 'Macedonia', 'Serbia', 'Eritrea', 'Paraguay',
       'United Arab Emirates', 'Panama', 'Sudan', 'Mauritius', 'Togo',
       'Tajikistan', 'Singapore', 'Afghanistan'], dtype=object)

In [22]:
#df.groupby(["Country_Code", "Medal"]).count()

                     City  Year  Sport  Discipline  Event  Athlete  Gender  \
Country_Code Medal
AFG          Bronze     1     1      1           1      1        1       1
AHO          Silver     1     1      1           1      1        1       1
ALG          Bronze     8     8      8           8      8        8       8
             Gold       4     4      4           4      4        4       4
             Silver     2     2      2           2      2        2       2
...                   ...   ...    ...         ...    ...      ...     ...
ZAM          Bronze     1     1      1           1      1        1       1
             Silver     1     1      1           1      1        1       1
ZIM          Bronze     1     1      1           1      1        1       1
             Gold      18    18     18          18     18       18      18
             Silver     4     4      4           4      4        4       4

                     Country  Event_gender
Country_Code Medal
AFG          Bronze        1             1
AHO          Silver        1             1
ALG          Bronze        8             8
             Gold          4             4
             Silver        2             2
...                      ...           ...
ZAM          Bronze        1             1
             Silver        1             1
ZIM          Bronze        1             1
             Gold         18            18
             Silver        4             4

[302 rows x 9 columns]

In [23]:
#df.groupby(by="Country_Code")["Medal"].count()

Country_Code
AFG      1
AHO      1
ALG     14
ARG    153
ARM      9
      ...
VEN      8
VIE      2
YUG    278
ZAM      2
ZIM     23
Name: Medal, Length: 128, dtype: int64

In [24]:
df.groupby(by="Country_Code")["Medal"].value_counts()

Country_Code  Medal
AFG           Bronze     1
AHO           Silver     1
ALG           Bronze     8
              Gold       4
              Silver     2
                        ..
ZAM           Silver     1
              Bronze     1
ZIM           Gold      18
              Silver     4
              Bronze     1
Name: count, Length: 302, dtype: int64

In [14]:
df["Year"].dtype = "date"

AttributeError: property 'dtype' of 'Series' object has no setter